APP_NAME="Wayfinder App"
APP_KEY=
APP_URL=http://localhost:8000
APP_VER=0.1.0
APP_ENV=local
APP_DEBUG=true
DB_DRIVER=sqlite
DB_PATH=database/database.sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=wayfinder_app
DB_CHARSET=utf8mb4
DB_USERNAME=root
DB_PASSWORD=
MAIL_DRIVER=file
MAIL_HOST=127.0.0.1
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME="Wayfinder App"
SESSION_COOKIE=wayfinder_session
SESSION_LIFETIME=7200
SESSION_DRIVER=file
SESSION_TABLE=sessions
SESSION_DOMAIN=
SESSION_SECURE=false
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=Lax
MODULES_CACHE=false
