/vendor/
/.env
/.phpunit.result.cache
/.phpunit.cache/
/bootstrap/cache/*.php
/storage/logs/*.log
/storage/mail/*.mail
/storage/framework/cache/*
/storage/framework/queue/pending/*
/storage/framework/queue/processing/*
/storage/framework/queue/failed/*
/storage/framework/sessions/*
/storage/framework/testing/*
/database/database.sqlite
.DS_Store
.idea/
!/storage/logs/.gitkeep
!/storage/mail/.gitkeep
!/storage/framework/cache/.gitkeep
!/storage/framework/queue/pending/.gitkeep
!/storage/framework/queue/processing/.gitkeep
!/storage/framework/queue/failed/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/testing/.gitkeep
